/*#57cff2 - blue
#f4ba5f - yellow
#636363 - grey
#1593de - dark blue
*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
    background-color: #47A8C4;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 1.2em;
}

b {
    font-weight: 700;
}

h1 {
    color: #fff;
    line-height: 1.2em;
}

h3
/* formulas tag */

{
    text-align: center;
}

.header {
    color: black;
    height: 100px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #636363;
}

.logo {
    background: url("../logo.png") no-repeat;
    height: 50px;
    width: 50px;
    float: left;
    margin: 27px 27px 27px 120px;
}

.nav {
    text-align: right;
    position: relative;
    right: 120px;
    top: 43.5px;
    font-size: .8em;
}

.nav li {
    list-style-type: none;
    display: inline;
    padding: 25px;
}

.nav li:hover {
    color: black;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}

.nav a:hover {
    color: black;
}

.introduction {
    height: 60%;
}

.introcontent {
    width: 400px;
    position: relative;
    left: 20%;
    top: 40%;
    -webkit-transform: translateY(-50%);
}
/* Contact Form */

.contact {
    padding: 50px;
    line-height: 2em;
    background-color: #449cbb;
}

form {
    text-align: center;

}

form table {
    width: 375px;
    margin-bottom: 16px;
    margin-left: 37.8%;
}

form th {
    width: 85px;
    vertical-align: middle;
    padding: 8px;
}

form td {
    padding: 15px 15px;
}

form td select, form td input,form td textarea {
   width: 100%;
}

form input[type="submit"] {
    width: 375px;
    text-align: center;
    border: 1px solid #57cff2;
    background: #57cff2;
    color: #FFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px;
}

.footer {
    background-color: #636363;
    height: auto;
    text-align: right;
    padding: 20px;
}

.footer ul {
    list-style-type: none;
    display: inline;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

.footer a:visited {
    color: white;
}
